body {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

#container {
    height: 70%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 0;
}

#header > button {
    background-color: rgb(213, 213, 213);
    height: fit-content;
    display: flex;
    gap: 5px;
    padding: 10px 20px;
    margin: 5px;
    border: 1px solid black;
}

#header > button > button {
    background-color: rgb(245, 245, 245);
    padding: 0px 5px;
    border: 1px solid black;
}

#list {
    display: flex;
    flex-direction: column;
    flex: 8 1 0;
}

#list > div {
    width: 100%;
    background-color: rgb(213, 213, 213);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    padding: 10px;
    gap: 10px;
}

.complete {
    color: rgb(245, 245, 245);
    text-decoration: line-through;
}

#list > button {
    width: fit-content;
    padding: 0px 10px;
}

#list > div > button {
    width: fit-content;
    padding: 0px 10px;
}

.itemComplete {
    display: flex;
    gap: 5px;
}